<!DOCTYPE html>
<html>
  <head>
    <title>Theorem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <a href="/admin/logout">Logout</a>
    <%= yield %>
  </body>
</html>